.drawer-panel {
    position: fixed;
    top: 100px;
    left: 0;
    &__toggle {
        padding: 5px 5px 5px 15px;
        background-color: rgb(228, 228, 228);
        border: 1px solid rgb(41, 59, 85);
        border-left: none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        &:hover {
            background-color: rgb(238, 238, 238);
            border: 1px solid rgb(50, 84, 128);
            border-left: none;
        }
    }
    &__content {
        padding: 10px;
        width: 140px;
        > label {
            font-size: 12px;
            display: block;
            margin: 5px 0;
        }
    }
}
