.empty-box {
    flex: 1;
    display: flex;
    padding: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #444;
    border: 1px solid #aaa;
    background-color: white;
}
